export DB_HOST=localhost
export DB_PORT=54320
export DB_USER=postgres
export DB_PASSWORD=my_password
export DB_NAME=postgres
export AWS_REGION=af-south-1
export AWS_S3_BUCKET=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=